/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.Padding-0 {
  padding: 0 !important;
}

.Overflow-auto {
  overflow: auto;
}

.App-container {
  width: 100%;
  border-top: #000 solid 1px;
}

.Header-container {
  width: 100%;
}

.Text-Mak {
  color: #fb7e54;
}

.Font-22 {
  font-size: 22px;
}

.Background-yellow {
  background: #ec0;
}

.List-post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Container-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.Container-btn-edit {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.Circle-edit {
  width: 60px;
  height: 60px;
  background: #fb7e54;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
}